<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Olá Mundo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>{{ title }}
        {% if user %}
            - Bom dia {{ user }}
        {% endif %}
    </h1>
    <ol>
        {% for aluno in alunos %}
        <li>{{ aluno }}</li>
        {% endfor %}
    </ol>

    <form method="POST" action="/form">
        <p>
            Email:</br>
            <input style="width: 20%" type="text" name="email"/>
        </p>
        <p>
            Status:</br>
            <input type="checkbox" name="status"/>
        </p>
        <p>
            Mensagem:</br>
            <textarea name="msg"></textarea>
        </p>
        <p>
            <input type="submit" value="Enviar"/>
        </p>
    </form>

</body>
</html>