{% extends 'base.html' %}

{% block sidebar %}
<h3>Menu</h3>
<ul>
    <li>Usuários</li>
    <li>Tweets</li>
</ul>
{% endblock %}

{% block content %}
    <form method="POST" action="/twitter">
        <div class="form-group">
            <label for="nameInput">Nome:</label>
            <input type="text" name="name" class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="Insira o seu nome">
            <small id="nameHelp" class="form-text text-muted">Insira o seu nome completo no campo acima.</small>
        </div>
        <p>
            Name:
            <input type="text" name="name" value="{{ session_name }}"/>
        </p>
        <p>
            Mensagem:
            <textarea name="msg" rows="4"></textarea>
        </p>
        <p>
            <input type="submit" value="Enviar"/>
        </p>
    </form>
    {% if query %}
    Tweets de {{ query }}
    {% endif %}
    {% for post in posts %}
        <hr/>
        <p>
            Name: <a href="{{ url_for('search', text=post.name) }}">{{ post.name }}</a></br>
            Message: {{ post.tweet }}
        </p>        
    {% endfor %}
{% endblock %}